@import './base.css';

body{
    font-family: var(--mainFont);
}

.menu{
    display:none;
}

.header{
    background-color: rgb(252, 250, 249);
    padding:20px 0;
}

.header .logo{
    display: flex;
    align-items: center;
    gap:8px;
}

.header .logo img{
    width:40px;
}
.header .logo a{
    color:var(--mainColor);
}


.header .navbar ul{
    display:flex;
    gap:16px;
    align-content: center;  
}
.header .navbar ul li a{
    color:#101928;
}
.header .navbar ul li .home{
    font-weight: 900;
}

.header .auth{
    display: flex;
    gap:20px;
    align-items: center;
}
.header .auth a{
    font-family: var(--subFont);
    border-radius:10px;

}

.header .auth .login{
    border: 2px solid var(--mainColor);
    padding: 5.3px 40px;
    color:var(--mainColor);
    font-weight: 700;
}

.header .auth .register{
    border: 2px solid var(--mainColor);
    padding: 5.3px 30px;
    color:white;
    font-weight:500;
    background-color: var(--mainColor);

}

@media screen and (max-width:617px){
    .header .auth{
        display:none;
    }
}

@media screen and (max-width:992px){
    .navbar{
        display:none;
    }
    .menu{
        display: block;
        order:2;
    }

}

@media screen and (max-width:576px){
    .container{
        width: calc(100% - 30px);
    }

}


/* section-part */

.testmonials{
    padding: 50px 0;
    font-family: var(--mainFont);
    background-color: white;

}

.testmonials .row{
    gap:40px;
}

.testmonial{
    box-shadow: 0px 8.2371px 8.2371px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    width: calc((100% - 40px) / 2);
    display: flex;
    flex-direction: column;
    gap:10px;
}

.container h2{
    text-align: center;
    padding-bottom: 45px;
}

.user-info{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}
.user-info img{
    width:50px;
    height:50px;
    border-radius:50%;
}

.user-data{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:4px;

}

.user-data span{
    color: #969696;
}

.rating{
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}
.rating img{
    width: 35px;
    height: 35px;
}

.testmonial blockquote{
    color:#646464;
}


@media screen and (max-width:768px){
    .testmonial{
        width:100%;;
    }
}













.footer{
    background-color: #393E46;
    color: white;
    padding: 50px 0; 
}

.footer a{
    color:white;
}

.footer-start{
    width:calc( (100% - 20px) / 2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:20px;
    
}

.footer-start .logo img{
    width:40px;
}

.footer-start .logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:10px;

}

.footer-start .icons img{
    width:20px;
    height: 20px;
    border:1px solid white;
    padding: 10px;
}


.footer-end{
    width:calc( (100% - 20px) / 2);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
   
}


.footer-end .footer-items nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
}

.footer-end .footer-items h2, 
.footer-end .footer-items nav,
.footer-end .footer-items a{
    font-family: var(--mainFont);
    padding-top: 8px;
}

@media  screen and (max-width:1200px) {
    .footer .row{
        gap:30px
    }
    .footer-start{
        width: 100%;
    }
    .footer-end{
        width: 100%;
    }
    
}

@media  screen and (max-width:768px) {
    .footer-items{
        width: 50%;
        margin-bottom: 15px;
    }

    .footer-end .footer-items h2{
        text-align: left;
        padding-bottom: 8px;
    }
}

@media  screen and (max-width:400px) {
    .footer-items{
        width: 100%;
        margin-bottom: 15px;
    }
}




