@import './base.css';

body{
    font-family: var(--mainFont);
    background-color: rgb(107, 224, 224);
}

.menu{
    display:none;
}

.header{
    background-color: rgb(252, 250, 249);
    padding:20px 0;
}

.header .logo{
    display: flex;
    align-items: center;
    gap:8px;
}

.header .logo img{
    width:40px;
}
.header .logo a{
    color:var(--mainColor);
}


.header .navbar ul{
    display:flex;
    gap:16px;
    align-content: center;  
}
.header .navbar ul li a{
    color:#101928;
}
.header .navbar ul li .home{
    font-weight: 900;
}

.header .auth{
    display: flex;
    gap:20px;
    align-items: center;
}
.header .auth a{
    font-family: var(--subFont);
    border-radius:10px;

}

.header .auth .login{
    border: 2px solid var(--mainColor);
    padding: 5.3px 40px;
    color:var(--mainColor);
    font-weight: 700;
}

.header .auth .register{
    border: 2px solid var(--mainColor);
    padding: 5.3px 30px;
    color:white;
    font-weight:500;
    background-color: var(--mainColor);

}

@media screen and (max-width:617px){
    .header .auth{
        display:none;
    }
}

@media screen and (max-width:992px){
    .navbar{
        display:none;
    }
    .menu{
        display: block;
        order:2;
    }

}

@media screen and (max-width:576px){
    .container{
        width: calc(100% - 30px);
    }

}

.footer{
    background-color: #393E46;
    color: white;
    padding: 50px 0; 
}

.footer a{
    color:white;
}

.footer-start{
    width:600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:20px;
    
}

.footer-start .logo img{
    width:40px;
}

.footer-start .logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:10px;

}

.footer-start .icons img{
    width:20px;
    height: 20px;
    border:1px solid white;
    padding: 10px;
}


.footer-end{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
   
}


.footer-end .footer-items nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
}

.footer-end .footer-items h2, 
.footer-end .footer-items nav,
.footer-end .footer-items a{
    font-family: var(--mainFont);
    padding-top: 8px;
}

@media  screen and (max-width:1200px) {
    .footer .row{
        gap:30px
    }
    .footer-start{
        width: 100%;
    }
    .footer-end{
        width: 100%;
    }
    
}

@media  screen and (max-width:768px) {
    .footer-items{
        width: 50%;
        margin-bottom: 21px;
    }
}

@media  screen and (max-width:400px) {
    .footer-items{
        width: 100%;
        margin-bottom: 21px;
    }
}




